<md-content flex class="login-container">
    <form name="loginForm" class="login-form" flex-sm="100" flex-gt-sm="60" flex-gt-md="50">
        <h2>{{loginDirectiveCtrl.login ? 'Connexion' : 'Inscription'}}</h2>
        <md-input-container>
            <label>Nom d'utilisateur</label>
            <input name="username" ng-model="loginDirectiveCtrl.username" type="name" required />
        </md-input-container>
        <md-input-container>
            <label>Mot de passe</label>
            <input name="password" ng-model="loginDirectiveCtrl.password" type="password" required />
        </md-input-container>

        <div ng-if="!loginDirectiveCtrl.login">
            <md-input-container>
                <label>Adresse email</label>
                <input name="email" ng-model="loginDirectiveCtrl.email" type="email" required />
            </md-input-container>
        </div>

        <div class="md-warn" ng-if="false">{{loginDirectiveCtrl.errors}}</div>

        <div class="login-buttons">
            <md-button flex class="md-raised md-primary" ng-disabled="loginForm.$invalid" aria-label="Sign In" type="submit" ng-click="loginDirectiveCtrl.submitForm()">{{loginDirectiveCtrl.login ? 'Se connecter' : 'S\'incrire'}}</md-button> ou
            <md-button type="button" flex ng-click="loginDirectiveCtrl.login=true" ng-show="!loginDirectiveCtrl.login">Se connecter</md-button>
            <md-button type="button" flex ng-click="loginDirectiveCtrl.login=false" ng-show="loginDirectiveCtrl.login">Créer un compte</md-button>
        </div>
    </form>
</md-content>
